html{
	background: SandyBrown;
}

.text{
	background: SandyBrown;
}
#banner{
	width: 300px;
  height: 300px;
}

.caixa{
	position: relative;
	width: 940px;
	right: 0 auto;
}
header{
	background: #CCCCCC;
}
nav li{
	display: inline;
	margin: 0 0 0 15px; /*espasçamento*/
}
nav a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nave a:hover{
	color: SaddleBrown;

}
nav{
	position: absolute;
	top: 110px;
	right: 0;
}

.pass1 li{
	display: inline-block;
	text-align: center;
	widht: 30%;
	vertical-align: top;
  margin: 0 1.35%;
	padding: 20px 30px;
	box-sizing: border-box;
  border: 10px solid SaddleBrown;
	border-radius: 10px;
	border-style: double;


}

#foto{
  display: inline-block;
	width: 50%;
}
